#next-previous-buttons {
	margin-top: 10px;
}

.recent {
	padding: 5px;
}

.imagesmall {
	width: 12%;
	height: 12%;
	padding: 0px;
}

#index-banner {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#genre-heading {
	padding-top: 5px;
	border-top: solid 1px;
}

#next-previous-buttons {
	padding-bottom: 10px;
}

.page-footer {
	background-color: #090909;
}

#text-gold {
	color: #c68f0b;
}

.footer {
	padding: 0px;
	margin: 0px;
}

.genre, .movie :hover {
	cursor: pointer;
}

.carousel {
	display: relative;
	top: -55px;
}
