#next-previous-buttons {
	margin-top: 10px;
}

.recent {
	padding: 20px;
}

.imagesmall {
	width: 14%;
	height: 14%;
	padding: 5px;
}

#index-banner {
	background-image: url("../css/film-reel.jpg");		
	height: 300px;
	width: 100%;
}

#genre-heading {
	padding-top: 5px;
	border-top: solid 1px;
}

#next-previous-buttons {
	padding-bottom: 10px;
}

